<h1>{{ question.question_text }}</h1>
{% load ad_tags %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
    {% if tagx_question_list %}
        <p>Tags:
            {% for tagx_question in tagx_question_list %}
                <a href="{% url 'polls:tag' tagx_question.tag.id %}">{{ tagx_question.tag.tag_name }}</a></li>,
            {% endfor %}
        </p>
    {% else %}
        <p>Not tagged</p>
    {% endif %}
</form>
    {% random_ad %}


